<div class="container mt-4">
    <h2 class="text-center mb-4">Formulario agregar cliente</h2>


    <!-- Fila con input y botón -->
    <div class="row align-items-center g-2">
        <div class="col-auto">
            <input type="text" id="telefonob" class="form-control" placeholder="Ingrese su teléfono">
        </div>
        <div class="col-auto">
            <button id="btnBuscar" class="btn btn-primary">Buscar</button>
        </div>
    </div>

    <form action="/cadd" method="post" id="form">
        <!-- Primera fila -->
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="name" id="name" value="{{cliente.nombre}}"
                    placeholder="Ejemplo Luis Gonzales">
                <small class="text-danger" id="error-nombre">ddddgdd</small>
            </div>
            <div class="col-md-3">
                <label for="telefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" name="telefono" id="telefono" value="{{cliente.telefono}}"
                    placeholder="Ingresa tu teléfono" autofocus>
            </div>
            <div class="col-md-2">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" class="form-control" name="correo" id="correo" value="{{cliente.correo}}"
                    placeholder="Ingresa tu correo">
            </div>
            <div class="col-md-2">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="fecha" id="fecha" value="{{cliente.fecha}}">
            </div>
            <div class="col-md-2">
                <label for="cedula" class="form-label">Ced/pass</label>
                <input type="text" class="form-control" name="cedula" id="cedula" value="{{cliente.cedula}}"
                    placeholder="cedula o pasaporte">
            </div>

        </div>

        <!-- Segunda fila -->
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="fecha2" class="form-label">Fechano</label>
                <input type="date" class="form-control" id="fecha2">
            </div>
            <div class="col-md-4">
                <label for="ubicacion" class="form-label">Ubicacion</label>
                <input type="text" class="form-control" name="address" id="ubicacion" value="{{cliente.ubicacion}}"
                    placeholder="Ingresa tu dirección">
            </div>

            <div class="col-md-4">
                <label for="nivel" class="form-label">Nivel</label>
                <select class="form-select" id="nivel" aria-label="Default select example">
                    <option selected>Selecciona un nivel</option>
                    <option value="alto">revisar</option>
                    <option value="medio">revisado</option>
                    <option value="bajo">retirado</option>
                </select>
            </div>



        </div>

        <div class="row mb-3">
            <div class="mb-3">
                <label for="nota" class="form-label">Nota importante </label>
                <textarea class="form-control" name="nota" id="nota" rows="3"
                    placeholder="agregar alguna nota de precaucuion sobre el cliente"></textarea>
            </div>

        </div>

        <!--  fila  4 -->
        <div class="row mb-3">

            <div class="col-md-4">


                <label for="saldo" class="form-label">saldo</label>
                <input class="form-control" type="number" step="0.01" name="saldo" id="saldo"
                    placeholder=" gasto total del cliente" readonly>

                <input type="hidden" name="variable_oculta" id="variable_oculta" value="valor_predefinido">


            </div>

        </div>




        <!-- Botón de enviar -->
        <div class="form-group mt-4 d-grid gap-2">
            <button class="btn btn-success"> Crear</button>
        </div>
    </form>
</div>



<script>








    // muestra la fecha actual

    // window.onload = function () {
    //    const fechaInput = document.getElementById("fecha");
    //   const hoy = new Date();
    //    fechaInput.value = hoy.toISOString().split('T')[0];
    //   console.log(fechaInput.value);
    // };


    // para darle formato al numero de telefono cuando tiene 8 digitos
    const telefonoInput = document.getElementById('telefono');

    telefonoInput.addEventListener('input', function (e) {
        let input = e.target.value;
        // Eliminar todo lo que no sea dígito
        input = input.replace(/\D/g, '');

        // Formatear el número
        // Aplicar el formato "1234-5678"
        // Aplicar formato solo si tiene exactamente 8 dígitos


        // Aplicar formato solo si tiene exactamente 8 dígitos
        if (input.length === 8) {
            input = `${input.slice(0, 4)}-${input.slice(4, 8)}`;
        }

        // Establecer el valor formateado
        e.target.value = input;
    });




</script>

<!-- Importar el archivo JavaScript como módulo -->
{{!--
<script type="module" src="/js/procesar.js"></script> --}}




<script type="module">
    import { saludar, sumar, restar } from '/js/procesar.js';

    saludar('Juan');
    console.log(sumar(5, 3));
    console.log(restar(10, 4));
</script>


<script type="module" src="/js/main.js"></script>