<div class="container mt-4">
    <h2 class="text-center mb-4">editar Servicio</h2>


    <form action="/serviceedit" method="post" id="form">
        <!-- Tarjeta para Datos del Cliente -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="mb-0">Datos del Cliente ID {{cliente.id_cliente}} </h5>
            </div>
            <div class="card-body">
                <!-- Usamos row para organizar los inputs -->
                <div class="row">
                    <!-- Cada input ocupa 12 columnas en móvil y 4 en escritorio (3 columnas en total) -->
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="telefono" value="{{cliente.telefono}}"
                                placeholder="Ingrese su nombre">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" value="{{cliente.name}}"
                                placeholder="Ingrese su correo">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="ubicacion" class="form-label">ubicacion</label>
                            <input type="text" class="form-control" id="ubicacion" value="{{cliente.address}}"
                                placeholder="Ingrese su dirección">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Cada input ocupa 12 columnas en móvil y 4 en escritorio (3 columnas en total) -->
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="cedula" class="form-label">Cedula</label>
                            <input type="text" class="form-control" id="cedula" value="{{cliente.cedula}}"
                                placeholder="Ingrese su nombre">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="correo" value="{{cliente.correo}}"
                                placeholder="Ingrese su correo">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="fecha" value="{{cliente.fecha}}"
                                placeholder="Ingrese su dirección">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Cada input ocupa 12 columnas en móvil y 4 en escritorio (3 columnas en total) -->
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="id_cliente" class="form-label">ID del Cliente</label>
                            <input type="number" class="form-control" id="id_cliente" name="id_cliente"
                                placeholder="Ingrese su nombre" value="{{cliente.id_cliente}}" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="emailCliente" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="emailCliente" placeholder="Ingrese su correo"
                                disabled>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="mb-3">
                            <label for="direccionCliente" class="form-label">Fecha</label>
                            <input type="date" class="form-control" id="direccionCliente"
                                placeholder="Ingrese su dirección" disabled>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="mb-3">
                        <label for="nota" class="form-label">Falla del equipo </label>
                        <textarea class="form-control" name="nota" id="nota" rows="3"
                            placeholder="agregar alguna nota de precaucuion sobre el cliente" disabled></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="mb-3">
                            <label for="notax" class="form-label">Falla del equipo </label>
                            <textarea class="form-control" name="notax" id="notax" rows="3"
                                placeholder="agregar alguna nota de precaucuion sobre el cliente" disabled></textarea>
                        </div>

                    </div>

                </div>
                <div class="row mb-3">

                    <div class="col-md-4">


                        <label for="saldo" class="form-label">saldo</label>
                        <input class="form-control" type="number" step="0.01" name="saldo" id="saldo"
                            placeholder=" gasto total del cliente" readonly>

                        <input type="hidden" name="variable_oculta" id="variable_oculta" value="valor_predefinido">


                    </div>

                </div>

            </div>
        </div>




        <!-- Tarjeta para Datos del Servicio Técnico -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h5 class="mb-0">Datos del Servicio Técnico ID {{servicio.id_servicio }}</h5>
            </div>
            <div class="card-body">


                <!-- Primera fila -->
                <div class="row mb-3">

                    <div class="col-md-2">
                        <label for="proced" class="form-label">Procedencia</label>
                        <select class="form-select" id="proced" name="proced" aria-label="Default select example">
                            <option>Selecciona un nivel</option>
                            {{!-- <option value="select" selected>Servicio </option> --}}
                            <option value="servicio" {{#if (eq servicio.proced "servicio" )}}selected{{/if}}>Servicio
                            </option>

                            <option value="venta" {{#if (eq servicio.proced "venta" )}}selected{{/if}}>Venta
                            </option>


                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="equipo" class="form-label">equipo</label>
                        <select class="form-select" id="equipo" name="equipo" aria-label="Default select example">
                            <option selected>Selecciona un nivel</option>


                            <option value="tv" {{#if (eq servicio.equipo "tv" )}}selected{{/if}}>Tv </option>
                            <option value="freidora" {{#if (eq servicio.equipo "freidora" )}}selected{{/if}}>Freidora
                            </option>

                            <option value="cafetera" {{#if (eq servicio.equipo "cafetera" )}}selected{{/if}}>Cafetera
                            </option>

                            <option value="abanico" {{#if (eq servicio.equipo "abanico" )}}selected{{/if}}>Abanico
                            </option>

                            <option value="vinera" {{#if (eq servicio.equipo "vinera" )}}selected{{/if}}>Vinera
                            </option>

                            <option value="monitor" {{#if (eq servicio.equipo "monitor" )}}selected{{/if}}>Monitor
                            </option>
                            <option value="microonda" {{#if (eq servicio.equipo "microonda" )}}selected{{/if}}>
                                microonda
                            </option>
                            <option value="sonido" {{#if (eq servicio.equipo "sonido" )}}selected{{/if}}>
                                sonido
                            </option>
                            <option value="trituradora papel" {{#if (eq servicio.equipo "trituradora papel"
                                )}}selected{{/if}}>
                                trituradora papel
                            </option>
                            <option value="fabricador hielo" {{#if (eq servicio.equipo "fabricador hielo"
                                )}}selected{{/if}}>
                                fabricador hielo
                            </option>
                            <option value="bateria" {{#if (eq servicio.equipo "bateria" )}}selected{{/if}}>
                                bateria
                            </option>
                            <option value="licuadora" {{#if (eq servicio.equipo "licuadora" )}}selected{{/if}}>
                                licuadora
                            </option>
                            <option value="horno" {{#if (eq servicio.equipo "horno" )}}selected{{/if}}>
                                horno
                            </option>
                            <option value="otro" {{#if (eq servicio.equipo "otro" )}}selected{{/if}}>
                                otro
                            </option>
                            <option value="olla" {{#if (eq servicio.equipo "olla" )}}selected{{/if}}>
                                olla
                            </option>




                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="estatus" class="form-label">Estatus</label>
                        <select class="form-select" id="estatus" name="estatus" aria-label="Default select example">
                            {{!-- <option selected>Selecciona un nivel</option> --}}


                            <option value="recibido" {{#if (eq servicio.estatus "recibido" )}}selected{{/if}}>Recibido
                            </option>


                            <option value="revisado" {{#if (eq servicio.estatus "revisado" )}}selected{{/if}}>revisado
                            </option>




                            <option value="irreparable" {{#if (eq servicio.estatus "irreparable" )}}selected{{/if}}>
                                Irreparable
                            </option>




                            <option value="reciclado" {{#if (eq servicio.estatus "reciclado" )}}selected{{/if}}>
                                reciclado
                            </option>

                            <option value="abandonado" {{#if (eq servicio.estatus "abandonado" )}}selected{{/if}}>
                                abandonado
                            </option>





                            <option value="presupuesto" {{#if (eq servicio.estatus "presupuesto" )}}selected{{/if}}>
                                Presupuesto
                            </option>



                            <option value="repuestos" {{#if (eq servicio.estatus "repuestos" )}}selected{{/if}}>
                                repuestos
                            </option>



                            <option value="reparar" {{#if (eq servicio.estatus "reparar" )}}selected{{/if}}>
                                reparar
                            </option>



                            <option value="reparado" {{#if (eq servicio.estatus "reparado" )}}selected{{/if}}>
                                reparado
                            </option>





                            <option value="probando" {{#if (eq servicio.estatus "probando" )}}selected{{/if}}>
                                Probando
                            </option>




                            <option value="garantia" {{#if (eq servicio.estatus "garantia" )}}selected{{/if}}>
                                garantia
                            </option>



                            <option value="entregado" {{#if (eq servicio.estatus "entregado" )}}selected{{/if}}>
                                entregado
                            </option>



                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="f_in" class="form-label">Fecha de entrada</label>
                        <input type="date" class="form-control" name="f_in" value="{{servicio.f_in}}" id="f_in">
                    </div>
                    <div class="col-md-2">
                        <label for="f_sal" class="form-label">Fecha de salida</label>
                        <input type="date" class="form-control" name="f_sal" value="{{servicio.f_sal}}" id="f_sal">
                    </div>
                    <div class="col-md-2">
                        <label for="fer" class="form-label">Estimada Entrega</label>
                        <input type="date" class="form-control" name="fer" value="{{servicio.fer}}" id="fer">
                    </div>

                </div>

                <!-- Segunda fila -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="serial" class="form-label">Serial</label>
                        <input type="text" class="form-control" id="serial" value="{{servicio.serial}}" name="serial">
                    </div>
                    <div class="col-md-4">
                        <label for="model" class="form-label">Modelo</label>
                        <input type="text" class="form-control" id="model" value="{{servicio.model}}" name="model"
                            placeholder="Ingresa tu dirección">
                    </div>

                    <div class="col-md-4">




                        <label for="marca" class="form-label">Marca</label>
                        <input class="form-control" list="datalistOptions" id="marca" name="marca"
                            placeholder="Type to search..." required value="{{servicio.marca}}">
                        <datalist id="datalistOptions">


                            <option value="Gourmia"></option>
                            <option value="Hisense"></option>
                            <option value="Lasko"></option>
                            <option value="LG"></option>
                            <option value="Mystic"></option>
                            <option value="Niu"></option>
                            <option value="Samsung"></option>
                            <option value="Selectron"></option>
                            <option value="Sony"></option>
                            <option value="Sankey"></option>
                            <option value="Panasonic"></option>
                            <option value="Oster"></option>
                            <option value="Nisato"></option>
                            <option value="Premier"></option>
                            <option value="Aiwa"></option>
                            <option value="Dolce gusto"></option>
                            <option value="Jvc"></option>
                            <option value="Daewoo"></option>
                            <option value="Premium"></option>
                            <option value="Nutribullet"></option>
                            <option value="Percutti"></option>
                            <option value="Rca"></option>
                            <option value="Ninja"></option>
                            <option value="Instant Pot"></option>
                            <option value="delonghi"></option>
                        </datalist>







                    </div>


                </div>

                <!-- Segunda fila -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="presup" class="form-label">Presupuesto</label>
                        <input type="number" class="form-control" value="{{servicio.presup}}" id="presup" name="presup">
                    </div>
                    <div class="col-md-4">
                        <label for="abonox" class="form-label">Abonoxxxxx</label>
                        <input type="number" class="form-control" id="abonox" name="abonox"
                            placeholder="Ingresa tu dirección" disabled>
                    </div>

                    <div class="col-md-4">
                        <label for="pulg" class="form-label">Pulgadas</label>


                        <input type="number" class="form-control" id="pulg" name="pulg" value="{{servicio.pulg}}">
                    </div>

                </div>


                <!-- Primera fila -->
                <div class="row mb-3">

                    <div class="col-md-2">
                        <label for="abono" class="form-label">Pago Abono</label>
                        <input type="number" class="form-control" id="abono" name="abono" value="{{servicio.abono}}">
                    </div>

                    <div class="col-md-2">
                        <label for="fpabono" class="form-label">Fecha abono</label>

                        <input type="date" class="form-control" name="fpabono" value="{{servicio.fpabono}}"
                            id="fpabono">
                    </div>

                    <div class="col-md-2">
                        <label for="pfinal" class="form-label">Pago final</label>

                        <input type="number" class="form-control" id="pfinal" name="pfinal" value="{{servicio.pfinal}}">
                    </div>
                    <div class="col-md-2">
                        <label for="fpfinal" class="form-label">Fecha pago final</label>
                        <input type="date" class="form-control" name="fpfinal" id="fpfinal"
                            value="{{servicio.fpfinal}}">
                    </div>
                    <div class="col-md-2">
                        <label for="prevision" class="form-label"> Pago Revision</label>
                        <input type="number" class="form-control" id="prevision" name="prevision"
                            value="{{servicio.prevision}}">
                    </div>
                    <div class="col-md-2">
                        <label for="fprevision" class="form-label">Fecha Revision</label>
                        <input type="date" class="form-control" name="fprevision" value="{{servicio.fprevision}}"
                            id="fprevision">
                    </div>

                </div>




                <!-- Segunda fila -->
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="costo" class="form-label">Costos</label>
                        <input type="number" class="form-control" id="costo" value="{{servicio.costo}}" name="costo">
                    </div>
                    <div class="col-md-4">
                        <label for="met_pg" class="form-label">Metodo de pago</label>
                        <select class="form-select" id="met_pg" name="met_pg" aria-label="Default select example">
                            <option value="">Metodo de pago</option>


                            <option value="yappyr" {{#if (eq servicio.met_pg "yappyr" )}}selected{{/if}}>yappyr
                            </option>



                            <option value="yappym" {{#if (eq servicio.met_pg "yappym" )}}selected{{/if}}>yappym
                            </option>




                            <option value="ach" {{#if (eq servicio.met_pg "ach" )}}selected{{/if}}>ach
                            </option>

                            <option value="efectivo" {{#if (eq servicio.met_pg "efectivo" )}}selected{{/if}}>
                                Efectivo
                            </option>

                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="nivel" class="form-label">Tiempo de reparacion</label>
                        <select class="form-select" id="nivel" aria-label="Default select example" disabled>
                            <option selected>Selecciona un nivel</option>
                            <option value="alto">revisar</option>
                            <option value="medio">revisado</option>
                            <option value="bajo">retirado</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="mb-3">
                        <label for="falla" class="form-label">Falla del equipo </label>
                        <textarea class="form-control" name="falla" id="falla" rows="3"
                            placeholder="agregar alguna nota de precaucuion sobre el cliente">{{servicio.falla}}</textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="mb-3">
                        <label for="dano" class="form-label">Daño del equipo (Tecnico) </label>
                        <textarea class="form-control" name="dano" id="dano" rows="3"
                            placeholder="agregar alguna nota de precaucuion sobre el cliente">{{servicio.dano}}</textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="mb-3">
                        <label for="repuestos" class="form-label">Repuestos </label>
                        <textarea class="form-control" name="repuestos" id="repuestos" rows="3"
                            placeholder="agregar alguna nota de precaucuion sobre el cliente">{{servicio.repuestos}}</textarea>
                    </div>
                </div>

                <!--  fila  4 -->
                <div class="row mb-3">

                    <div class="col-md-4">


                        <label for="id_servicio" class="form-label">id servicio</label>
                        <input class="form-control" type="number" name="id_servicio" value="{{servicio.id_servicio }}"
                            id="id_servicio" readonly>

                        <input type="hidden" name="variable_oculta" id="variable_oculta" value="valor_predefinido">


                    </div>

                </div>



            </div>
        </div>






        <!-- Botón de enviar -->
        <div class="form-group mt-4 d-grid gap-2">
            <button class="btn btn-success"> Crear</button>
        </div>
    </form>
</div>










<!-- Importar el archivo JavaScript como módulo -->
{{!--
<script type="module" src="/js/procesar.js"></script> --}}










//
<script>
    //  document.getElementById("telefono").addEventListener("input", function () {
    //    let valor = this.value.replace(/\D/g, ""); // Elimina caracteres no numéricos
    //  if (valor.length > 4) {
    //     valor = valor.slice(0, 4) + "-" + valor.slice(4, 8);
    // }
    // this.value = valor;
    // console.log('teclas');
    // });
</script>



<script>


    // document.getElementById("telefono").addEventListener("change", function () {
    //    console.log("Número ingresado:", this.value);
    // });





    document.getElementById('telefono').addEventListener('change', async () => {

        // const telefono = document.getElementById("telefonob").value;

        //console.log("telefono ingresado:", telefono.value);
        console.log("name:", nombre.value);
        console.log("ubicacion:", ubicacion.value);
        console.log("cedula:", cedula.value);
        console.log("correo:", correo.value);
        console.log("fecha:", fecha.value);
        console.log('teclas');




        const telefono = document.getElementById("telefono").value;
        if (!telefono) return; // Si no hay teléfono, sale inmediatamente

        try {
            // Solicitud POST con fetch
            const response = await fetch("/check-cedula", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ telefono })
            });

            if (!response.ok) throw new Error(`Error en la solicitud: ${response.status}`);

            const data = await response.json();
            console.log(data);

            if (data.exists) {
                const campos = {
                    name: "nombre",
                    correo: "correo",
                    fecha: "fecha",
                    telefono: "telefono",
                    // nota: "nota",
                    //saldo: "saldo",
                    cedula: "cedula",
                    address: "ubicacion",
                    id_cliente: "id_cliente"
                };

                Object.entries(campos).forEach(([key, id]) => {
                    document.getElementById(id).value = data.data[key] || "";
                });

                // Actualizar valores exportables
                document.getElementById("variable_oculta").value = data.data.cedula || "";
            }

        } catch (error) {
            console.error("Error al verificar la cédula:", error.message);
        }


    });










</script>




<script type="module">
    import { saludar, sumar, restar } from '/js/procesar.js';

    saludar('Juan');
    console.log(sumar(5, 3));
    console.log(restar(10, 4));
</script>

{{!--
<script type="module" src="/js/main.js"></script> --}}