<div class="container-fluid mt-5">
    {{!-- <div class="row mt-5"> --}}
        <h3 class="text-center text-uppercase p-2">Lista de servicios</h3>
        {{#if personas}}
        {{!-- <table class="table text-center"> --}}
            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">N</th>


                        <th scope="col">ID servicio</th>
                        <th scope="col">fecha in</th>
                        <th scope="col">equipo</th>
                        <th scope="col">marca</th>
                        <th scope="col">dano</th>
                        <th scope="col">falla</th>
                        <th scope="col">estatus</th>

                        <th scope="col">presupuesto</th>
                        <th scope="col">accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each personas}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{id_servicio}}</td>
                        <td>{{f_in}}</td>
                        <td>{{equipo}}</td>
                        <td>{{marca}}</td>
                        <td>{{dano}}</td>
                        <td>{{falla}}</td>
                        <td>{{estatus}}</td>
                        <td>{{presup}}</td>

                        <td>
                            <div class="btn-group">
                                <a href="/editservice/{{id_servicio}}" class="btn btn-warning p-2">
                                    <i class="fa-solid fa-pencil"></i></a>
                                <a href="/delete/{{id}}" class="btn btn-danger p-2">
                                    <i class="fa-solid fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="4">REGISTRO DE PERSONAS</td>
                    </tr>
                </tfoot>
            </table>
            {{!--
    </div> --}}

</div>


{{else}}
<div class="card text-center mx-auto" style="width: 350px;">
    <div class="card-header">
        <h3>Debes crear una persona</h3>
    </div>
    <div class="card-body">
        <p>Presiona este boton para que puedas registrar a una persona en la aplicacion</p>
        <a href="#" class="btn btn-primary">Ir a crear</a>
    </div>
    {{/if}}
</div>
</div>